<head>
    <title>綠遊經 - 首頁</title>
</head>
<style>
    p{
        color:white
    }
</style>
<!-- Banner -->
<section id="banner">
    <div class="inner">

        <h2>綠遊經</h2>
        <p>
            你是否有想做什麼而不知道如何下手的體驗？<br />
            你是否有想去哪裡但不知從何而規劃的經驗？<br />
            讓我們來解決你的問題！

        </p>
        <ul class="actions special">
            <li><a href="~/Trip/Form" class="button primary">立即開始</a></li>
        </ul>
    </div>
    <a href="#two" class="more scrolly">繼續</a>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="~/images/view01.jpg" alt="" /></div><div class="content">
            <h2>
                幫你找出最適合你的旅遊景點！

            </h2>
            <p>
                透過您所填寫的表單，分析適合前往遊玩的景點，從此不用再苦惱因資訊量太過繁雜而選不出合適的旅遊景點！
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/view02.jpg" alt="" /></div><div class="content">
            <h2>
                結合綠色觀光，愛護生態！
            </h2>
            <p>
                發掘鄰近的綠色旅館，讓您不僅可以享受旅程，更能為地球盡一份心力。
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/view03.jpg" alt="" /></div><div class="content">
            <h2>
                解決旅遊規劃時，路線及景點查詢會面臨到的各種困擾！

            </h2>
            <p>
                還在困擾為何景點跟景點間浪費的交通時間那麼多嗎？還在困擾為何總是繞一樣的路？為何莫名其妙錯過一些網美景點嗎？讓我們來幫你解決這項困難！
            </p>
        </div>
    </section>
</section>

<!-- Three -->
<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>現在就開始新的旅程吧！！</h2>
            <!--<p></p>-->
        </header>
        <ul class="actions stacked">
            <li><a href="~/Trip/Form" class="button fit primary">立即開始</a></li>
            <li><a href="#" class="button fit">了解更多</a></li>
        </ul>
    </div>
</section>

